<h1>WELCOME TO CROWDFUNDER</h1>



<%= link_to "| Add a New Project |", "/projects/new" %>

<%= form_tag projects_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search], autocomplete: "off" %>
  <div id="autocomplete"></div>
  <%= submit_tag "Search" %>
<% end %>


<div id="projects">
  <ul>
	<% @projects.each do |p| %>
	<li><%= link_to(p) do %>
  		<%= p.title %>
		<% end %>
 	<% end%>
 	</li>

</ul>
</div>