<h1>Currently viewing "<%= @project.title %>"</h1>
<p>We need to raise: $<%= @project.funding_goal %> CAD</p>
<p>Category: <%= @project.category %></p>
<p><%= @project.description %></p>
<p>Time Left <%= time_ago_in_words(@project.end_date) %></p>
<p>Amount raised to date <%=  number_to_currency(@project.amount_raised) %></p>

<h2>Rewards for this Project</h2>
<%= render partial: 'reward', collection: @project.rewards %>

<h2>Backers of this Project</h2>
<ol id="backers">
<% @project.backers.each do |backer|%>

	<li><%= backer.first_name %></li>
		
	

<% end %>
</ol>
<div id="pledge">
	
</div>

<% if @pledge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pledge.errors.count, "error") %> prohibited this pledge from being saved:</h2>

      <ul>
      <% @pledge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<%= form_for([@project, @pledge], remote: true) do |f| %>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>

  </div>
    <div class="actions">
    <%= f.submit value: "Donate" %>
  </div>
<% end %>

<%= link_to "Delete This Project", @project, method: :delete, data: {confirm: "Are you sure you want to delete this project?"}  %>



