<h1>Currently viewing "<%= @project.title %>"</h1>


<p><%= @project.description %></p>
<p> </p>
<p>Goal</p>
<p>$<%= @project.funding_goal %></p>
<p>Campaign Start Date</p>
<p><%= @project.start_date %></p>
<p> </p>
<p>Campaign End Date</p>
<p><%= @project.end_date %></p>

<h2><%= @project.rewards %></h2>




